header {
    padding-bottom: 1rem;
}

main {
    padding-top: 1rem;
}

main p {
    text-align: center;
}

main section aside {
    margin: 1rem auto;
}

main aside p {
    text-align: left;
}

footer p {
    text-align: center;
}

table {
    display: table;
}

table#tabela-agendamentos td {
    padding-top: 10px;
    padding-bottom: 10px;
}

tr td:nth-child(9):hover {
    background-color: #eee;
}

tr td:nth-child(9) {
    background-image: url(img/edit.png);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 50px;
    cursor: pointer;
}

tr td:nth-child(6).em-edicao {
    background-image: none;
}
.delete {
    color: #fff;
    font-weight: bolder;
    display: block;
    margin: 4px auto;
    border: 1px solid #9a0e04;
    border-radius: 5px;
    background-color: #f44336;
    cursor: pointer;
}
.delete:hover {
    cursor: pointer;
    background-color: #9a0e04;
}

#clima {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-weight: normal;
    text-align: center;
}

ul#previsao {
    list-style-type: none;
    padding: 0;
}

ul#previsao li {
    text-align: center;
    display: inline-block;
    margin: 0 20px;
}

nav {
    margin-bottom: 10px;
}

tr td:nth-child(9).em-edicao {
    background-image: none;
}

.btn-atualiza-status {
    padding: 12px;
    background-color: #2ab53a;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.btn-atualiza-status {
    margin-left: 10px;
}

.btn-atualiza-status:hover {
    background-color: #136e1e;
    color: white;
}

#confirmacao {
    display: none;
}

#section-agendamentos {
    display: none;
}

#nenhum-agendamento {
    display: none;
}